@import './shop.scss';
@import './placeholders.scss';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#app {
    height: 100%;
    width: 100%;
    background-image: url('https://construct-static.com/uploads/116805/c1f0164b-59ff-42e1-961a-78c709b58dd6/example03.png');
}

#game-score {
    @extend %laterals;

    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    #score {
        width: 301px;
        height: 125px;

        background: rgba(192, 244, 255, 0.5);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #points {
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 58px;

            color: #c0f4ff;
        }

        #loves-per-second {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;

            color: #c0f4ff;
        }
    }

    #catricio {
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: grab;

        img {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            border-radius: 15px;
        }

        #name {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 218px;
            height: 43px;

            background: rgba(192, 244, 255, 0.5);
            border-radius: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;

            span {
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 31px;

                color: #c0f4ff;
            }
        }

        &:hover {
            filter: brightness(0.9);
            cursor: pointer;
        }
    }

    #shop-btn-container {
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;

        #shop-button {
            @extend %components-background;

            color: #c0f4ff;
            width: 301px;
            height: 65px;
            cursor: pointer;
            outline: none;

            &:hover {
                filter: brightness(0.9);
            }

            &:active {
                filter: brightness(0.7);
            }
        }
    }
}

#pet-infos {
    @extend %laterals;

    left: 100%;
}

#canvas {
    width: 50%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 1;
    transition: width 0.5s ease-in-out;
}

.grabbable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}
